* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  width: 100%;
  min-height: 100%;

  position: fixed;
}





.language {
  margin-left: 8px;
  font-size: 14px;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger-menu span {
  height: 3px;
  width: 25px;
  background-color: white;
}


.main-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;

}

.right-pannel-top {
  display: flex;
  justify-content: space-between;
  padding: 3rem 3rem;

}

.search-container {
  display: block;
  justify-self: center;
}

.left-pannel {
  width: 240px;
  min-height: 100vh;
  background-color: #ffffff;
  padding-top: 80px;
  border-right: 1px solid #e0e0e0;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.03);
  flex-shrink: 0;
}



.left-pannel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.left-pannel li {
  padding: 14px 24px;
  cursor: pointer;
  color: #444;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.left-pannel li:hover {
  background: #e0f7fa;
  color: #0288d1;
}

.right-pannel {

  min-width: 0;
  padding: 10px 40px 40px 40px;


}


input[type="text"],
input[type="number"],
input[type="search"] {
  padding: 8px 12px;
  border-radius: 12px;

  border: 1px solid #ccc;
  outline: none;
  font-size: 2rem;
}
.button-group {
  display: flex;
  flex-direction: column;
  
}
.search-container {
  display: block;
  justify-content: center;
  align-items: center;
}
button {
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  transition: background 0.3s;
}

button:hover {
  background-color: #f0f0f0;
}





table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 14px;
  table-layout: fixed;
}

table th {
  background-color: white;
  font-weight: 600;
  padding: 10px 18px;
  text-align: center;
  text-overflow: ellipsis;
}

td {
  background-color: #ffffff;
  color: #333;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 8px;
  z-index: 10;
}

/* Responsive behavior */

/* iPads in portrait */
@media only screen and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  .main-layout {
    flex-direction: column;
    font-size: smaller;
  }

  .left-pannel {
    display: none !important;
  }

  .hamburger-menu {
    display: flex;
  }

  .right-pannel {
    width: 100%;
    padding: 100px 24px 40px 24px;
  }

  table th:nth-child(3),
  table th:nth-child(7),
  table td:nth-child(3),
  table td:nth-child(7) {
    display: none;
  }
}

/* iPads in landscape */
@media only screen and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

  .main-layout {
    flex-direction: column;
    font-size: smaller;
  }

  .left-pannel {
    display: none !important;
  }

  .hamburger-menu {
    display: flex;
  }

  .right-pannel {
    width: 100%;
    padding: 100px 24px 40px 24px;
  }

  table th:nth-child(3),
  table th:nth-child(7),
  table td:nth-child(3),
  table td:nth-child(7) {
    display: none;
  }
}

/* Tablet portrait and below */
@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1)  {
  .right-pannel {
    padding: 10px 16px 16px 16px;
  }

  .right-pannel-top {
    display: block;
   
  }
  .search-container{
    align-items: center;
    justify-content: center !important;
    justify-self: center !important;
  }
  .button-group button {
    margin: 0;
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 12px;
  }
}

/* Mobile phones */
@media screen and (max-width: 486px) and (-webkit-min-device-pixel-ratio: 1) {

  table th:nth-child(1),
  table th:nth-child(5),
  table th:nth-child(6),
  table td:nth-child(1),
  table td:nth-child(5),
  table td:nth-child(6) {
    display: none;
  }

  table th:nth-child(2) {
    white-space: nowrap;

    text-overflow: ellipsis;
    max-width: 140px;
  }
}